<div id="banner">
    <div class="container">
        <div id="onTitle" class="flex wrap col-0">
            <div class="col-40">
                <div id="brasserie" class="brasserie zI3 pAbsolute flex jcCenter">
                    <div><p class="title2">B</p></div>
                    <div><p class="title1">r</p></div>
                    <div><p class="title2">a</p></div>
                    <div><p class="title1">s</p></div>
                    <div><p class="title2">s</p></div>
                    <div><p class="title1">e</p></div>
                    <div><p class="title2">r</p></div>
                    <div><p class="title1">i</p></div>
                    <div><p class="title2">e</p></div>
                </div>
                <div id="brasseriePlus" class="brasserie zI3 pAbsolute flex jcCenter">
                    <div><p class="title1">B</p></div>
                    <div><p class="title3">r</p></div>
                    <div><p class="title1">a</p></div>
                    <div><p class="title3">s</p></div>
                    <div><p class="title1">s</p></div>
                    <div><p class="title3">e</p></div>
                    <div><p class="title1">r</p></div>
                    <div><p class="title3">i</p></div>
                    <div><p class="title1">e</p></div>
                </div>
            </div>
            <div class="col-2">
                <div id="sauvage" class="sauvage zI3 pAbsolute flex jcCenter">
                    <div class="marg"><p class="title1">S</p></div>
                    <div class="marg"><p class="title4">A</p></div>
                    <div class="marg"><p class="title1">U</p></div>
                    <div class="marg"><p class="title4">V</p></div>
                    <div class="marg"><p class="title1">A</p></div>
                    <div class="marg"><p class="title4">G</p></div>
                    <div class="marg"><p class="title1">E</p></div>
                </div>
                <div id="sauvagePlus" class="sauvage zI3 pAbsolute flex jcCenter">
                    <div class="marg"><p class="title5">S</p></div>
                    <div class="marg"><p class="title1">A</p></div>
                    <div class="marg"><p class="title5">U</p></div>
                    <div class="marg"><p class="title1">V</p></div>
                    <div class="marg"><p class="title5">A</p></div>
                    <div class="marg"><p class="title1">G</p></div>
                    <div class="marg"><p class="title5">E</p></div>
                </div>
            </div>
        </div>
    </div>