<div id="sNetwork" class="pAbsolute">
    <a target="blank" href="https://www.instagram.com/brasserie_sauvage/?hl=fr">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="blank" href="https://www.facebook.com/sauvagebrasserie">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="blank" href="mailto:allo@brasseriesauvage.co">
        <i class="fa-regular fa-envelope"></i>
    </a>
    <a target="blank" href="https://soundcloud.com/brasserie_sauvage">
        <i class="fa-brands fa-soundcloud"></i>
    </a>
</div>