<div id="alcoholWarning" class="zI6">
    <div class="text-center" id="modal">
        <p style="text-decoration: underline;">(Site e-commerce test. Achat fictif pour le moment.)</p>
        <p>la vente d'alcool à des mineurs de moins de dix-huit ans est interdite!</p>
        <p>L’abus d’alcool est dangereux pour la santé. À consommer avec modération.</p>
        <p>Etes vous majeur?</p> 
        <div class="flex col-0 text-center">
            <a id="ok"><p>Oui</p></a>
            <a id="no" href="https://www.google.fr"><p>Non</p></a>
        </div>
    </div>
</div>