{% extends 'base.html.twig' %}

{% block body2 %}
    {% if app.user %}
        <div class="container">
            <div id="errorShop"  class="text-center">
                <h2>Une erreur est survenue, désolé, commande annulée!</h2>
            </div>
        </div>
    {% endif %}   
{% endblock %}