<div class="col-2">  
    <div>
        <p>3 Rue Jacqueline Auriol</p>
        <p>35136 Saint-Jacques-de-la-Lande</p>
        <p>FRANCE</p>
    </div>
    <div>
        <p>Facebook</p>
        <a href="https://www.facebook.com/sauvagebrasserie" target="blank"><p>https://www.facebook.com/sauvagebrasserie</p></a>
    </div>
    <div>
        <p>Instagram</p>
        <a href="https://www.instagram.com/brasserie_sauvage/?hl=fr" target="blank"><p>https://www.instagram.com/brasserie_sauvage/?hl=fr</p></a>
    </div>
    <div>
        <p>Adresse e-mail :</p>
        <a href="mailto:allo@brasseriesauvage.co" target="blank"><p>allo@brasseriesauvage.co</p></a>
    </div>
</div>