<thead class="maxW">
    <tr>
        <th>Nom / Catégorie / Couleur</th>
        <th>Photo</th>
        <th>1er Paragraphe</th>
        <th>2eme Paragraphe</th>
        <th>TA / Prix / Volume</th>
        <th>Date de création / Quantité</th>
    </tr>
</thead>
<thead class="vHidden pAbsolute minW">
    <tr>
        <th class="pour20">
            <p>Nom</p>
            <p>Catégorie</p>
            <p>Couleur</p>
            <p>Photo<p>
        </th>
        <th class="col-2">
            <p>1er Paragraphe</p>
            <p>2eme Paragraphe</p>
        </th>
        <th class="col-3">
            <p>TA</p>
            <p>Prix</p>
            <p>Volume</p>
            <p>Date de création</p>
            <p>Quantité</p>
        </th>
    </tr>
</thead>