{% extends 'base.html.twig' %}

{% block body2 %} 
    <div class="container">
        <div id="errorShop"  class="text-center">
            <a href="{{ path('app_home') }}?animation=non&arrow=down">
                <button class="sbutton3">Retour accueil</button>
            </a>
            <h2>Une erreur est survenue, désolé!</h2>
        </div>
    </div>
{% endblock %} 