<thead>
    <tr>
        <th class="col-80">
            <p>Nom & Prénom</p>
            <p>E-mail</p>
            <p>Sujet & Message</p>
        </th>
        <th class="modifContact">
            <p>Lu</p>
            <p>Répondu</p>
            <p>Supprimer</p>
        </th>
    </tr>
</thead>